@{
    ViewData["Title"] = "ConectaBanco";
}
<h1>@ViewData["Title"]</h1>

<p>Aqui vamos criar um botão para conectar o banco de dados SQL Server</p>

<!-- Adicione um botão HTML com um identificador -->
<button type="button" id="Conecta">Conecta Banco</button>





