@{
    ViewData["Title"] = "ConectaBanco";
}
<h1>@ViewData["Title"]</h1>

<p>Aqui vamos criar um botão para conectar o banco de dados SQL Server</p>

@{
    Conecta cn =new Conecta();
    cn.TestaConexao();

}